/* Fuente Alan-Sans */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
/* font-family: "Alan Sans", sans-serif */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Alan Sans", sans-serif;
}

/* header */
/* logo*/
.logo-container{
    display: flex;
    justify-content: center;
}

.logo{
     height: 150px;
    width: 250px;
    padding: 20;
}

/* nav */
.container-fluid{
background-color: #db6e6e;
}
.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand{
    color: white;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link{
    color: white;
}

/* body */

/*shop-online*/
.shop-online{
    display: grid;
    grid-template-columns: 200px 1fr;
}

/* .filtro{
    
} */

.cards-container{
    margin: 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

/* cards bolsos */

.card{
    margin: 20px 10px;
    display: block;
    width: 200px;
    padding: 16px;
}

.card img{
    width: 100%;
}

.card h4{
    margin: 16px 0;
}

.card-button{
    display: inline-block;
    width: auto;
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 10px;
}


/* footer */
.footer-p {
    font-size: 12px;
}

/* page contacto */

.contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    padding: 10px;
}

/* formulario*/
.formulario-container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.contact-form{
    display: block;
    width: 250px;
}

/* mapa */

.map-container {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
}

.map-container iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 20px;
}

/* redes */
.titulo-redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes{
    display: grid;
    grid-template-rows: 100px 1fr;

}


.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon{
    width: 70px;
    height: 70px;
}

.icon img{
    width: 100%;
}

/* page  envios y devoluciones */
/* seccion envios */

.seccion-envios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.cards-envios{
    margin: 20px 10px;
    display: block;
    width: 400px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);

}

.cards-envios img{
    width: 100%;
}

/* seccion devoluciones */

.seccion-devoluciones{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 200px;
    gap: 20px;
    margin: 10px;

}

.cards-pasos1{
    grid-column: 1/3;
    border: 1px solid black;
    border-radius: 15px;
}

.cards-pasos2{
    grid-column: 3/5;
    border: 1px solid black;
    border-radius: 15px;
}

.cards-pasos3{
    grid-column: 5/7;
    border: 1px solid black;
    border-radius: 15px;
}

.cards-devoluciones1{
    grid-area: 2/2/2/4;
    border: 1px solid black;
    border-radius: 15px;
}

.cards-devoluciones2{
    grid-area: 2/4/2/6;
    border: 1px solid black;
    border-radius: 15px;
}

/* seccion faq */

.accordion{
    display: flex;
    justify-content: center;
}

.accordion-item{
    width: 800px;
}

/* page sobre nosotros */

/* seccion hero */

.hero-img{
    background-image:url(../assets/images/imagen-hero-sobrenosotros.png);
    background-size:cover;
    background-position: center center ;
    background-repeat: no-repeat ;
    min-height: 60vh;
    padding: 10px;
}

/* seccion quienes somos */

.quienes-somos{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quienes-somos_texto{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
}

.quienes-somos_imagen{
    padding: 10px;
}

.quienes-somos_imagen img{
    width: 100%;
}

/* seccion valores */

.valores-icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.valores-icon_card{
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    justify-self: center;
    text-align: center;
}

.valores-icon_card img{
    width: 100%;
}

/* seccion nuestro proceso */
 .proceso{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

 /* page accesorio */

 /* filtros */

 .section-accesorios-filtro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

 .accesorios-filtro{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    width: auto;
 }

 /* card */

 .accesorios-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
 }

 .accesorios-card{
    margin: 20px 10px;
    display: block;
    width: 200px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 15px;
}

.accesorios-card img{
    width: 100%;
}

.accesorios-card h4{
    margin: 16px 0;
}

 
