/* Fuente Alan-Sans */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
/* font-family: "Alan Sans", sans-serif */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Alan Sans", sans-serif;
}

/* header */
/* logo*/
.logo-container{
    display: flex;
    justify-content: center;
}

.logo{
     height: 150px;
    width: 250px;
    padding: 20;
}

/* nav */
.container-fluid{
background-color: #db6e6e;
}
.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand{
    color: white;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link{
    color: white;
}

/* zapas container */
.zapas-container{
    margin: 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

/* cards */

.card{
    margin: 20px 10px;
    display: block;
    width: 350px;
    padding: 16px;
}

.card img{
    width: 100%;
}

.card h4{
    margin: 16px 0;
}

.card-button{
    display: inline-block;
    width: auto;
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 10px;
}


/* body */


/* footer */
.footer-p {
    font-size: 12px;
}