/* Fuente Alan-Sans */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
/* font-family: "Alan Sans", sans-serif */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Alan Sans", sans-serif;
}

/* header */
h1{
    color: rebeccapurple;
    font-size: 32px;
}

.container-fluid{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.navbar-nav{
    display: grid !important ;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    justify-content: end;
    align-items: center;
}

.nav-logo {
  grid-column: 1;
}

.nav-center {
  grid-column: 2;
  justify-self: center;
}

.navbar-nav {
  grid-column: 3;
  justify-self: end;
}



.logo-felicia{
  width: 50px;
  display: block;
  margin: 20px;
}

.felicia-encabezado{
    display: block;
    text-align: center;
    margin-top: 8px;
}

/* body */
.bg-nav-propio{
    background-color: #dc95eb;
}

.encabezado-body{
    display: block;
    margin-left: 10px;
}

.p-body{
    display: block;
    margin-left: 10px;
}

/* footer */
.footer-p {
    font-size: 12px;
}