/* Fuente Alan-Sans */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
/* font-family: "Alan Sans", sans-serif */

body{
    font-family: "Alan Sans", sans-serif;
}

h1{
    color: rebeccapurple;
    font-size: 32px;
}

p{
    color: slateblue;
    font-size: 25px;
}

.footer-p {
    font-size: 12px;
}

.logo{
    width: 40px;
    display: block;
    margin: 20px auto;
}

.li-nav{
    list-style-type: none;
}

.a-nav{
    color: black;
    text-decoration: none;
}

.p-weight{
    font-weight: 900;
    text-align: center;
}

.logo-felicia{
  width: 60px;
  display: block;
  margin: 20px;
}

.bg-nav-propio{
    background-color: #d171e4;
}
